/* @font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(fonts/Raleway.ttf) format('ttf'), url(fonts/Raleway.ttf);
} */

html,
body {
  overflow-x: hidden;
  font-family: 'Raleway', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
